.main {
  display: grid;
  grid-template-areas:
    "setup preview"
    "rest rest"
  ;
  grid-template-columns: 1fr 1fr;

  .react-p5 {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .sketch-wrapper {
    width: 42.5vw;
    height: 42.5vw;
  }

  #setup {
    grid-area: setup;
    place-self: end;
    margin-right: 2.5vw;
  }

  #preview {
    grid-area: preview;
    place-self: start;
    margin-left: 2.5vw;
  }
}

@media screen and (max-width: 700px) {
  .main {
    grid-template-areas:
      "setup"
      "preview"
      "rest"
    ;
    grid-template-columns: 1fr;
    gap: 2.5vw;

    .sketch-wrapper {
      width: 95vw;
      height: 95vw;
    }

    #setup, #preview {
      place-self: center;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
